.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.box { 
    margin: auto;
    width: 344px;
    height: 482px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;  
    margin-top: 10%; 
    display: flex;
    flex-direction: column;
}


.box img {
    align-items: center;
}

.box txtBox {
    align-items: center;
}